body {
  padding-top: 0;
  font-family: "petersburg-web",serif;
  background-color: #000;
}
a:link, a:visited {
  color: #fffac2;
}
a:hover, a:active {
  color: #fff888;
}
a:hover, a:active {
  color: #fff888;
}
.nav .intro {
  font-family: "federico-web",serif;
}
.navbar {
  min-height: 40px;
}
.nav {
  font-size: 16px;
}
.nav .intro {
  font-size: 24px;
  padding-top: 6px;
}
.navbar-inverse {
  background-color: rgba(10,10,10,0.9);
  border: none;
}
h1 {
  font-size: 45px;
  line-height: 54px;
  margin-bottom: 27px;
}
section {
  display: none;
  position: absolute; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
p.credit {
  position: absolute;
  width: auto;
  margin-bottom: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  padding: 6px 12px;
}
.box {
  position: absolute;
  padding: 10px 25px 0 25px;
  font-size: 19px;
  line-height: 28px;
  color: #fff;
  background-color: rgba(0,0,0,0.45);
    -webkit-box-shadow:0 0 30px rgba(0, 0, 0, 0.2), 0 0 140px rgba(0, 0, 0, 0.5) inset;
       -moz-box-shadow:0 0px 30px rgba(0, 0, 0, 0.2), 0 0 140px rgba(0, 0, 0, 0.5) inset;
            box-shadow:0 0px 30px rgba(0, 0, 0, 0.2), 0 0 140px rgba(0, 0, 0, 0.5) inset;
}
.dark .box {
  background-color: rgba(0,0,0,0.6);
      -webkit-box-shadow:0 0 30px rgba(0, 0, 0, 0.2), 0 0 180px rgba(0, 0, 0, 0.6) inset;
       -moz-box-shadow:0 0px 30px rgba(0, 0, 0, 0.2), 0 0 180px rgba(0, 0, 0, 0.6) inset;
            box-shadow:0 0px 30px rgba(0, 0, 0, 0.2), 0 0 180px rgba(0, 0, 0, 0.6) inset;

}
.very-dark .box {
  background-color: rgba(0,0,0,0.75);
      -webkit-box-shadow:0 0 50px rgba(0, 0, 0, 0.7), 0 0 140px rgba(0, 0, 0, 0.6) inset;
       -moz-box-shadow:0 0px 50px rgba(0, 0, 0, 0.7), 0 0 140px rgba(0, 0, 0, 0.6) inset;
            box-shadow:0 0px 50px rgba(0, 0, 0, 0.7), 0 0 140px rgba(0, 0, 0, 0.6) inset;
}

.icons {
  font-size: 19px;
  font-weight: bold;
}

.icons i {
  font-size: 19px;
}

.video-link, .presentation-location {
  font-size: 15px;
}
.presentation-location {
  margin-right: 10px;
}
.video-link {
  display: inline-block;
  whitespace: nowrap;
}

section ul {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 0;
}
section ul.no-pad {
  padding-top: 0;
}
section li {
  margin-bottom: 14px;
  list-style: none;
}
h4.small, li.link-small {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 24px;
}
h4.small {
  padding-top: 14px;
}
section.newsapps .box .row-fluid {
  margin: 0 auto;
  width: 90%;
}
section.newsapps .box h1 {
  margin-top: 60px;
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .navbar { display: none; }
  section { position: relative !important; display: block !important; }
  .credit {
    position: static;
  }
  .featured-image-wrapper img { width: 100%; }
  .box, .dark .box, .very-dark .box { position: static; padding-bottom: 32px; width: auto !important; 
    background-color: #222;
    -webkit-box-shadow:none;
       -moz-box-shadow:none;
            box-shadow:none;
  } 
}
