{% extends "_base.html" %}

{% block favicon %}
<link rel="shortcut icon" href="img/favicon.ico" />
{% endblock %}

{% block css %}
<script type="text/javascript" src="//use.typekit.net/ttj1nwa.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css" />
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

{% for section in sections %}
  <section id="{{ section.id }}"{% if section.class %} class="{{ section.class }}"{% endif %}>
    <div class="featured-image-wrapper"{% if section.img_attrs %} {{ section.img_attrs|process_text }}{% endif %}> 
      <img src="img/{{ section.id }}.jpg" class="featured-image" alt="{{ section.photo_description }}" />
      {% if section.photo_credit %}
      <p class="credit">Photo by {{ section.photo_credit }}</p>
      {% endif %}
    </div>
    <div class="box" style="{% if section.box_top %}top: {{ section.box_top }}; {% endif %}{% if section.box_left %}left: {{ section.box_left }}; {% endif %}{% if section.box_bottom %}bottom: {{ section.box_bottom }}; {% endif %}{% if section.box_right %}right: {{ section.box_right }}; {% endif %}{% if section.box_width %}width: {{ section.box_width }};{% endif %}">
      <h1>{{ section.title }}</h1>
      {{ render_file("sections/{0}.html".format(section.id))|process_text }}
    </div>
  </section>
{% endfor %}


{% endblock content %}

{% block scripts %}
<script src="js/imgLiquid-min.js"></script>
<script>
function responsivize() {
  $('.featured-image-wrapper')
    .css({
      height: $(window).height() + 'px',
      width:  $(window).width() + 'px',
    });
  var height = $(window).height();
  $('section').each(function(i) {
    var top = height * i;
    $(this).css({
      'top': top + 'px',
      'height': height + 'px',
    }).fadeIn(2500);
  });
}
$(document).ready(function() {
  $('.featured-image-wrapper').imgLiquid();
  responsivize();
  $(window).on('resize', responsivize);
});
</script>
{% endblock %}

