{% extends "_base.html" %}

{% block favicon %}
<link rel="shortcut icon" href="img/favicon4.ico" />
{% endblock %}

{% block css %}
<script src="//use.typekit.net/wgg6jst.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css" />
{% endblock %}

{% block bodyattrs %}data-spy="scroll" data-target=".eads-nav"{% endblock %}

{% block content %}

{% for section in sections %}
  <section id="{{ section.id }}" class="{{ section.id }}{% if section.class %} {{ section.class }}{% endif %}">
    <div class="featured-image-wrapper"{% if section.img_attrs %} {{ section.img_attrs|process_text }}{% endif %}> 
      <img src="img/{{ section.id }}.jpg" class="featured-image" alt="{{ section.photo_description }}" />
      {% if section.photo_credit %}
      <p class="credit">Photo copyright {{ section.photo_credit }}</p>
      {% endif %}
    </div>
    <div class="box" style="{% if section.box_top %}top: {{ section.box_top }}; {% endif %}{% if section.box_left %}left: {{ section.box_left }}; {% endif %}{% if section.box_bottom %}bottom: {{ section.box_bottom }}; {% endif %}{% if section.box_right %}right: {{ section.box_right }}; {% endif %}{% if section.box_width %}width: {{ section.box_width }};{% endif %}">
      <div class="row-fluid">
        {% if section.title %}<h1>{{ section.title }}</h1>{% endif %}
        {{ render_file("sections/{0}.html".format(section.id))|process_text }}
      </div>
    </div>
  </section>
{% endfor %}


{% endblock content %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="js/imgLiquid-min.js"></script>
<script>
function responsivize() {
  if ($(window).width() > 767) {
    $('section').each(function(i) {
        var top = $(window).height() * i;
        $('.featured-image-wrapper')
          .imgLiquid()
          .css({
            height: $(window).height() + 'px',
            width:  $(window).width() + 'px',
          });
        $(this).css({
          'top': top + 'px',
          'height': $(window).height() + 'px',
        }).fadeIn(2500);
    });
  } 
}
$(document).ready(function() {
  responsivize();
  var lazy_responsivize = _.debounce(responsivize, 250);
  $(window).on('resize', lazy_responsivize);
});
</script>
{% endblock %}

