<p>Since 2012, I have worked on the <a href="http://apps.chicagotribune.com">Chicago Tribune News Applications Team</a>. I've worked on award-winning projects and build successful open source tools.</p>

<div class="row">
  <div class="col-md-4">
    <ul>
      {% for tribune_project in tribune_projects %}
      {% if loop.index % 3 == 1 %}
      <li>
        <a href="{{ tribune_project.link }}" class="presentation-title">{{ tribune_project.title }}</a><br/>
        <span class="presentation-location">{{ tribune_project.location }}</span>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      {% for tribune_project in tribune_projects %}
      {% if loop.index % 3 == 2 %}
      <li>
        <a href="{{ tribune_project.link }}" class="presentation-title">{{ tribune_project.title }}</a><br/>
        <span class="presentation-location">{{ tribune_project.location }}</span>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      {% for tribune_project in tribune_projects %}
      {% if loop.index % 3 == 0 %}
      <li>
        <a href="{{ tribune_project.link }}" class="presentation-title">{{ tribune_project.title }}</a><br/>
        <span class="presentation-location">{{ tribune_project.location }}</span>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
