<p>I have been teaching at <a href="http://www.uia.mx">Universidad Iberoamericana</a> at the Master Program since 2011, and at the undergraduate Communication program since 2012. The classes I have taught are:</p>

<div class="row">
  <div class="col-md-4">
    <ul>
      {% for class in teaching[0:3] %}
      <li>
        {{ class.title }} <br/>
        <span class="presentation-location">{{ class.description }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4">
   <ul>
      {% for class in teaching[3:] %}
      <li>
        {{ class.title }} <br/>
        <span class="presentation-location">{{ class.description }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<p>Other teaching at the gradutate program at <a href="http://septien.mx/">Escuela de Periodismo Carlos Septién</a>, at the undergraduate program at <a href="http://www.itesm.mx/wps/portal?WCM_GLOBAL_CONTEXT=">Tecnológico de Monterrey</a> and at the <a href="http://www.salzburg.umd.edu/2014-studentsfaculty">Salzburg Academy on Media and Global Change 2014</a>.</p>